* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container{
    width: 940px;
    margin: auto;
}
.blok{
    display: flex;
    flex-direction: column;
}
fieldset{
    width: 600px;
}