*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: gray;
}

main{
padding-top: 40px;
}

form{
background-color: white;
}

.container{
width: 940px;
margin: auto;
}
.panel{
padding-top: 40px;
padding-left: 30px;  
}
.price h4{
font-size: 18px;
padding-bottom: 20px;
text-decoration: solid;
}

.order-price{
  display: flex;
}

.order-price .product-prijs{
  padding-left: 140px;
  padding-bottom: 20px;
}



.order-summary h4{
    padding-top: 20px;
    font-size: 18px;
    padding-bottom: 20px;
    text-decoration: solid;
 }
 .order-summary .total-price{
     background-color: gray;
     width: 650px;
     margin-bottom: 20px; 
 }