*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e0e7da;
    color: #3B282A;
    font-family: "Calibri Light", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

}

main{
    height: 1100px;
    padding-top: 30px;
    padding-bottom: 30px;
}
div.container{
    margin: 0px 260px;
}

